.paperStyle {
  margin: 20px auto;
  overflow-y: scroll;
  max-height: 350px;
  font-family: Poppins Medium;
}

.header {
  background-color: rgba(71, 11, 75, 1) !important;
  color: white !important;
  position: sticky;
  top: 0;
}
