/* Background of the entire page */
body {
  background-color: #f7f7f7; /* Light grayish background */
  margin: 0;
  font-family: "Roboto", sans-serif; /* Updated font for a clean look */
}

.batch-body {
  background-color: #f7f7f7; /* Light grayish background */
  /* min-height: 85vh; */
}

#batch-title {
  text-align: center;
  padding: 1.5rem;
  background: linear-gradient(
    to right,
    #4a148c,
    #880e4f
  ); /* Gradient background for an elegant touch */
  color: #fff; /* White text color */
  font-size: 2.8rem; /* Slightly larger font size */
  border-bottom: 3px solid #2e003e; /* Slightly darker border for contrast */
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif; /* Updated font for a more sophisticated look */
}

.batch-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.batch-menus {
  box-sizing: border-box;
  height: 10rem;
  margin: 2rem;
  padding: 2rem;
  flex: 0 1 35rem;
  border-radius: 15px;
  text-align: center;
  gap: 1.5rem;
  background: #fff; /* White background */
  border: 2px solid #e0e0e0; /* Light gray border */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Add box shadow and border-radius to the menu items */
.batch,
.premst,
.receipt,
.unitst {
  padding: 1.5rem;
  border-radius: 12px; /* Slightly increased border radius for a softer look */
  color: #fff; /* White text color */
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  font-family: "Caveat", cursive;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); /* Subtle box shadow */
  border: none;
}

/* Add a hover scale effect */
.batch:hover,
.premst:hover,
.receipt:hover,
.unitst:hover {
  background: linear-gradient(to right, #673ab7, #512da8);
  color: #fff;
  transform: scale(1.05);
}

/* Individual menu item colors and backgrounds */
.batch {
  background: #ff4081 !important; /* Pink background for batch */
}

.premst {
  background: #7e57c2 !important; /* Purple background for premst */
}

.receipt {
  background: #4db6ac !important; /* Teal background for receipt */
}

.unitst {
  background: #ffb74d !important; /* Amber background for unitst */
}
