.main {
  display: grid;
  min-height: 80vh;
  width: 98vw;
  gap: 1rem;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 0fr 1fr;
  grid-template-areas:
    "policyEnquiry policyEnquiry tabs"
    "tabsEnquiry tabsEnquiry tabs"
    "tabsEnquiry tabsEnquiry tabs";
}

.policy-enquiry {
  background-color: rgb(237, 234, 234);
  grid-area: policyEnquiry;
  border: solid 3px rgba(0, 0, 0, 1);
  border-radius: 20px;
  box-shadow: 1px 0px 5px 0px;
}

.navtabs {
  background-color: rgb(237, 234, 234);
  grid-area: tabs;
  border: solid 3px rgba(0, 0, 0, 1);
  border-radius: 20px;
  box-shadow: 1px 0px 5px 0px;
}
.collapse {
  justify-self: end;
  width: 3rem;
  border: none;
  border-radius: 0rem;
  background: linear-gradient(135deg, #f9c2e7, #d5a4a3);
}

.navtabs ul {
  padding-left: 0;
}

.tabs-enquiry {
  background-color: rgb(237, 234, 234);
  grid-area: tabsEnquiry;
  border: solid 3px rgba(0, 0, 0, 1);
  border-radius: 20px;
  box-shadow: 1px 0px 5px 0px;
}

.tabs-li {
  display: flex;
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  justify-content: space-between;
  background-color: silver;
  flex-grow: 1;
  border-radius: 10px;
}

.active {
  background-color: rgb(135, 245, 135);
}
